.checkout__title {
    margin-right: 10px;
    padding: 10px;
}

.checkout__title>h2 {
    border-bottom: 1px solid lightgray;
}

.checkout__title>p {
    margin-top: 10px;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}