.checkoutProduct {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.checkoutProduct>img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    flex: 1;
}

.checkoutProduct__info {
    flex: 4;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 600;
}


.checkoutProduct__info>button {
    margin-top: 10px;
    background-color: #f0c14b;
    padding: 5px 10px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}