.header {
    background-color: #232F3E;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    cursor: pointer;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchBox {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 22px !important;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: whitesmoke;
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.header__option--line1 {
    font-size: 10px;
}

.header__option--line2 {
    font-size: 13px;
    font-weight: 800;
}

.header__basket {
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin: 0 10px;
}